<div class="flyntComponent" is="flynt-block-image-text-link">
  <div class="container boxed">

    <div class="col col-left">
      {% for box in boxes %}
      {% if loop.index0 is even %}
        <a href="{{ box.blockLink.url }}" {% if box.blockLink.target %} target="{{ box.blockLink.target }}" rel="noreferrer noopener"{% endif %} class="box" id="box-{{ loop.index }}">
          <div class="box-inner box-inner--image">
            <figure class="figure">
              <img class="figure-image lazyload"
                src="{{ box.image.src|resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', box.image.id)}}"
                data-sizes="auto">
            </figure>
          </div>
          <div class="box-inner box-inner--image h3">{{ box.title }}</div>
          {% if box.contentHtml %}
            <div class="box-inner box-inner--content">{{ box.contentHtml|e('wp_kses_post') }}</div>
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="col col-right">
    {% for box in boxes %}
      {% if loop.index0 is odd %}
        <a href="{{ box.blockLink.url }}" {% if box.blockLink.target %} target="{{ box.blockLink.target }}" rel="noreferrer noopener"{% endif %} class="box" id="box-{{ loop.index }}">
          <div class="box-inner box-inner--image">
            <figure class="figure">
              <img class="figure-image lazyload"
                src="{{ box.image.src|resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', box.image.id)}}"
                data-sizes="auto">
            </figure>
          </div>
          <div class="box-inner box-inner--image h3">{{ box.title }}</div>
          {% if box.contentHtml %}
            <div class="box-inner box-inner--content">{{ box.contentHtml|e('wp_kses_post') }}</div>
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
  </div>

</div>
