{% if items|length > 0 %}
  <div class="flyntComponent boxed" is="flynt-grid-events-upcoming">
    <div class="container grid8">
      <div class="preContent h2">{{ preContentHtml|e('wp_kses_post') }}</div>
      <div class="grid grid3">
        {% for item in items %}
          <a href="{{ item.link }}" class="grid-item">
            <div class="content">
              <div class="content-image">
                <img class="lazyload"
                  src="{{ item.thumbnail.src }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                  data-sizes="auto"
                  alt="{{ item.thumbnail.alt|e }}">
                {% if item.eventCategory %}
                  <p class="eventCategory pill pill--green active--inverted">{{ item.eventCategory }}</p>
                {% endif %}
              </div>
              <div class="content-inner">
                <div>
                  <div class="h2 content-title" title="{{ item.title }}">{{ item.title }}</div>
                  {% if item.eventDate or item.eventVenue %}
                    <span>{{ item.eventDate|date("d.m.Y")|escape('wp_kses_post') }}</span>
                    {% if item.eventTime %}
                      <span> - {{ item.eventTime }}</span>
                    {% endif %}
                    <div>{{ item.eventVenue }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      {# <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="link">{{ labels.allPosts }}</a>
      </div> #}
    </div>
  </div>
{% endif %}
