<div class="flyntComponent" is="flynt-navigation-footer">
  <div class="preContainer grid8 backgroundGreen">
    <div class="contactForm">{{ shortcodeForm }}</div>
  </div>
  <div class="container">
    <div class="left grid6">
      {% if preTextLogo1 %}
        <div class="preText">{{ preTextLogo1|e }}</div>
      {% endif %}
      {% if logoFooter1 %}
        <a href="{{ logoLink1.url }}"{% if logoLink1.target %} target="{{ logoLink1.target }}" rel="noreferrer noopener"{% endif %} class="">
          <img class="logo lazyload"
          src="{{ logoFooter1.src|resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter1.id)}}"
          data-sizes="auto">
        </a>
      {% endif %}
      {% if preTextLogo2 %}
        <div class="preText">{{ preTextLogo2|e }}</div>
      {% endif %}
      {% if logoFooter2 %}
      <a href="{{ logoLink2.url }}"{% if logoLink2.target %} target="{{ logoLink2.target }}" rel="noreferrer noopener"{% endif %} class="">
        <img class="logo lazyload"
          src="{{ logoFooter2.src|resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter2.id)}}"
          data-sizes="auto">
      </a>
      {% endif %}
    </div>
    <div class="right">
      {% if contentHtml %}
        <div class="content">{{ contentHtml|e('wp_kses_post') }}</div>
      {% endif %}
      {% if menu %}
        <nav class="navigation" aria-label="{{ __("Footer", "flynt") }}">
          {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
        </nav>
      {% endif %}
    </div>
  </div>
</div>
