<div class="flyntComponent" is="flynt-block-image">
  <div class="container">
    <figure class="figure">
      <img class="figure-image lazyload"
          src="{{ image.src }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
          data-sizes="auto">
      {# <img class="figure-image lazyload"
        src="{{ post.thumbnail.src|resize(32) }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
        data-sizes="auto"> #}
      {% if image.caption %}
        <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
      {% endif %}
    </figure>
  </div>
</div>
