<div class="flyntComponent boxed" is="flynt-block-product-specifics">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="container">
    <div class="slider-container">
      <div data-slider class="slider sliderTop swiper-container">
        <div class="swiper-wrapper">
          {% for image in images %}
            <div class="slider-item swiper-slide">
              <figure class="figure">
                <img class="figure-image lazyload"
                  src="{{ image.src|resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
                  data-sizes="auto">
              </figure>
            </div>
          {% endfor %}
        </div>
      </div>
      <div data-slider-pagination class="slider-pagination swiper-pagination-fraction"></div>
      <button type="button" data-slider-button="prev" class="slider-button slider-button--prev">
        <svg width="31" height="62" viewBox="0 0 31 62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29 2L2.82843 28.1716C1.26633 29.7337 1.26633 32.2663 2.82843 33.8284L29 60" stroke="#D96B36" stroke-width="3"/>
        </svg>
      </button>
      <button type="button" data-slider-button="next" class="slider-button slider-button--next">
        <svg width="31" height="62" viewBox="0 0 31 62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L28.1716 28.1716C29.7337 29.7337 29.7337 32.2663 28.1716 33.8284L2 60" stroke="#D96B36" stroke-width="3"/>
        </svg>
      </button>
      {# <div thumbsSlider="" class="slider sliderThumb swiper-container">
        <div class="swiper-wrapper">
          {% for image in images %}
            <div class="slider-item swiper-slide">
              <figure class="figure">
                <img class="figure-image lazyload"
                  src="{{ image.src|resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
                  data-sizes="auto">
              </figure>
            </div>
          {% endfor %}
        </div>
      </div> #}
    </div>
    <div class="productInfo">
      <div class="top">
        <div>{{ model }}</div>
        <div>{{ producer }}</div>
        <div>{{ price }}</div>
      </div>
      <div class="center">
        <div>{{ label.description }}</div>
        <div>{{ descriptionHtml }}</div>
      </div>
      <div class="bottom">
        <a href="{{ buttonLink.url }}"{% if buttonLink.target %} target="{{ buttonLink.target }}" rel="noreferrer noopener"{% endif %} class="button button--grey">
          {{ buttonLink.title|e }}
        </a>
      </div>
    </div>
  </div>
</div>
