<div class="flyntComponent boxed" is="flynt-block-post-header">
  <header class="post-header grid2">
    {% if post.thumbnail %}
    <div class="featuredImage">
      <img class="figure-image lazyload"
        src="{{ post.thumbnail.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
        data-sizes="auto">
    </div>
    {% endif %}
    <div class="right">
      {% if post.terms('category') %}
        <p class="eventCategory pill pill--green">{{ post.terms('category') | join(', ') }}</p>
      {% endif %}
      {% if post.eventCategory %}
        <p class="eventCategory pill pill--green">{{ post.eventCategory }}</p>
      {% endif %}
      <div class="title h3">{{ post.title }}</div>
      <div class="center">
        {% if post.eventDate or post.eventVenue %}
        <div class="datevenue">
          <div>{{ post.eventDate|date("d.m.Y")|escape('wp_kses_post') }}</div>
          <div>{{ post.eventVenue }}</div>
        </div>
        {% endif %}
        <div class="intro">{{ post.eventIntro }}</div>
      </div>
      <a class="button button--green" href="{{ post.eventLink.url }}"{% if post.eventLink.target %} target="{{ post.eventLink.target }}" rel="noreferrer noopener"{% endif %}>
        {{ post.eventLink.title|e }}
      </a>
    </div>
  </header>
</div>
