<div class="flyntComponent boxed" is="flynt-block-post-header">
  <header class="post-header grid2">
    {% if post.thumbnail %}
    <div class="featuredImage">
      <img class="figure-image lazyload"
        src="{{ post.thumbnail.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
        data-sizes="auto">
    </div>
    {% endif %}
    <div class="right">
      <div class="top">
        <div class="category-list">
          {% for categoryz in post.terms('category') %}
            <span class="eventCategory pill pill--green">{{ categoryz }}</span>
          {% endfor %}
        </div>
        <div class="title h2">{{ post.title }}</div>
        {% if post.eventDate or post.eventVenue %}
        <div class="datevenue">
          <div>{{ post.eventDate|date("d.m.Y")|escape('wp_kses_post') }}</div>
          <div>{{ post.eventVenue }}</div>
        </div>
        {% endif %}
      </div>
      <div class="center">
        <div class="intro">{{ post.eventIntro|e('wp_kses_post') }}</div>
      </div>
      {% if post.eventLink %}
        <a class="button button--green" href="{{ post.eventLink.url }}"{% if post.eventLink.target %} target="{{ post.eventLink.target }}" rel="noreferrer noopener"{% endif %}>
          {{ post.eventLink.title|e }}
        </a>
      {% endif %}
    </div>
  </header>
</div>
