{% if items|length > 0 %}
  <div class="flyntComponent" is="flynt-grid-events-related">
    <div class="container boxed">
      <div class="preContent">
      </div>
      <ul class="grid grid8">
        {% for item in items %}
          <li class="grid-item {{ item.post_type }}">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <img class="content-image lazyload"
                  src="{{ item.thumbnail.src|resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                  data-sizes="auto">
                  {% if item.eventCategory %}
                    <p class="eventCategory pill pill--green active--inverted">{{ item.eventCategory }}</p>
                  {% endif %}
                <div class="content-inner">
                  <div>
                    <div class="h2 content-title" title="{{ item.title }}">{{ item.title }}</div>
                    {% if item.eventDate or item.eventVenue %}
                      <span>{{ item.eventDate|date("d.m.Y")|escape('wp_kses_post') }}</span>
                      {% if item.eventTime %}
                        <span> - {{ item.eventTime }}</span>
                      {% endif %}
                      <div>{{ item.eventVenue }}</div>
                    {% endif %}
                  </div>
                </div>
              </a>
              {# <footer class="content-footer">
                <span class="content-readingTime">
                  <i data-feather="clock"></i> {{ item.content | readingtime }} {{ labels.readingTime }}
                </span>
                <a href="{{ item.link }}" class="button button--link content-readMore" aria-hidden="true" tabindex="-1">{{ labels.readMore }}</a>
              </footer> #}
            </div>
          </li>
        {% endfor %}
      </ul>
      {# <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="button button--link">{{ labels.allPosts }}</a>
      </div> #}
    </div>
  </div>
{% endif %}
