<div class="flyntComponent" is="flynt-slider-medium-image">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="container container-{{ sliderPosition }}">
    <div data-slider class="slider swiper-container">
      <div class="swiper-wrapper">
        {% for panel in repeaterSlider %}
          <div class="slider-item swiper-slide">
            <figure class="figure lazyload" style="background-image: url({{ panel.panelImage.src }})">
              {# <img class="figure-image lazyload"
                src="{{ panel.panelImage.src|resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', panel.panelImage.id)}}"
                data-sizes="auto"> #}
                {# src="{{ panel.panelImage.src|resize(1200) }}"> #}
            </figure>
            {# <figcaption class="figure-caption">{{ panel.panelImage.caption|e }}</figcaption> #}
          </div>
        {% endfor %}
      </div>
      <div class="slider-button-container">
        <button type="button" data-slider-button="prev" class="slider-button slider-button--prev">
          <i data-feather="arrow-left"></i>
        </button>
        <button type="button" data-slider-button="next" class="slider-button slider-button--next">
          <i data-feather="arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
