{% if items|length > 0 %}
  <div class="flyntComponent" is="flynt-grid-events-latest">
    <div class="container">
      {% if title %}
        <div class="preContent">
          <h1>{{ title|e }}</h1>
        </div>
      {% endif %}
      <ul class="grid">
        {% for item in items %}
          <li class="grid-item">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <div class="content-inner">
                  <p class="date">{{ item.datePost|date("d.m.Y")|escape('wp_kses_post') }}</p>
                  <p class="title">{{ item.title }}</p>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
