<div class="flyntComponent heroVideo" is="flynt-hero-video">
  <div class="video">
    <figure class="figure">
      <img class="figure-image lazyload"
        src="{{ posterImage.src|resize(32) }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', posterImage.id) }}"
        data-sizes="auto"
        alt="{{ posterImage.alt|e }}">
    </figure>
    <div class="video-player">
      {{ video }}
      {# <iframe src="https://player.vimeo.com/video/76979871?background=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> #}
    </div>
    <div class="video-overlay">
      <div class="content">{{ contentHtml }}</div>
      {% if pagelink %}
      <a href="{{ pagelink.url }}" {{ pagelink.target ? "target='#{item.link.target}' rel='noopener noreferrer'" }} class="page-link">
        {{ pagelink.title ?: pagelink.url }}
      </a>
      {% endif %}
    </div>
  </div>
</div>
